@font-face{
    src: url(Proxima\ Nova\ Font.otf);
    font-family: proxima;
}
:root{
    --green_primary:#1bc98e;
    --green_secondary:#14966b;
    --red_primary:#f94642;
    --red_secondary:#fc100c;
    --orange:#fda120;
    --blue:#3177bb;
    --lightblueBg:#f6f8fb;
    --swiper-theme-color:#007aff;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: proxima,Helvetica,Arial,sans-serif;
    height:5000px;
    position: relative;
}
.btn_green{
    color: white;
    background-color: var(--green_primary);
    border:none;
    width: auto;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 750;
    padding: 11px 24px;
}
.btn_green:hover{
    background-color:var(--green_secondary);
    position: relative;
    top:1px;
    transition: 0.1s ease-out;
}
.btn_red{
    background-color: var(--red_primary);
    color: white;
    border:none;
    width: auto;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 750;
    padding: 11px 24px;
}
.btn_red:hover{
    background-color:var(--red_secondary);
    position: relative;
    top:1px;
    transition: 0.1s ease-out;
}
.btn_white{
    color: var(--green_primary);
    background-color: white;
    border:none;
    width: auto;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 750;
    padding: 11px 24px;
}
.btn_white:hover{
    color:var(--green_secondary);
    position: relative;
    top:1px;
    transition: 0.1s ease-out;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 20
}
.bold {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
  }
.site-header{
    display: none;
    visibility: collapse;
    padding:30px 80px;
    background-color: transparent;
    position: sticky;
    top:0px;
    z-index: 10;
}
.header_wrapper{
    display: flex;
    /* width: 60%; */
    margin: 0px auto;
    padding: 0px 170px;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper>div:first-child{
    width:146.25px;
    height:34.45px;
}
.header_wrapper>div>a>img{
    width:100%;
}
.header_nav{
    margin:0px 20px;
    padding:0px 100px;
    display: flex;
}
.header_nav>ul{
    display:flex;
    justify-content: center;
    align-items: center;
    /* width:60%; */
    /* margin:auto; */
}
.header_nav>ul>li{
    display:flex;
    margin:0px 12px;
    flex-direction: row;
    align-items: center;
}
.header_nav>ul>li>a, .header_userSettings>a{
    /* margin: 8px; */
    text-decoration: none;
    color:white;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.header_nav>ul>li>span{
    width: 12px;
    color:white;
}
.header_userSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_userSettings>button{
    margin-left:25px;
}
.scroll_header{
    /* display:none; */
    /* visibility: collapse; */
    padding:30px 80px;
    background-color: white;
    position: sticky;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0px 0px 50px 50px;
    z-index: 10;
}
.scroll_header_wrapper{
    display: flex;
    /* width: 60%; */
    margin: 0px auto;
    padding: 0px 170px;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
}
.scroll_header_wrapper>div:first-child{
    width:146.25px;
    height:34.45px;
}
.scroll_header_wrapper>div>a>img{
    width:100%;
}
.scroll_header_nav{
    margin:0px 20px;
    padding:0px 100px;
    display: flex;
}
.scroll_header_nav>ul{
    display:flex;
    justify-content: center;
    align-items: center;
    /* width:60%; */
    /* margin:auto; */
}
.scroll_header_nav>ul>li{
    display:flex;
    margin:0px 12px;
    flex-direction: row;
    align-items: center;
}
.scroll_header_nav>ul>li>a, .scroll_header_userSettings>a{
    /* margin: 8px; */
    text-decoration: none;
    color:black;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.scroll_header_nav>ul>li>span{
    width: 12px;
    color:black;
}
.scroll_header_userSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll_header_userSettings>button{
    margin-left:25px;
}
body>footer{
    width:100vw;
    position: absolute;
    bottom:0;
    max-height: 600px;
}
.footer_wrapper{
    display: none;
    margin-top: 30px;
    width:100%;
    /* height: 100vh; */
    position: relative;
    bottom:0px;
    /* left:0; */
    /* transform: translateX(-50%, -50%); */
    /* display: block; */
    /* min-height: 800px; */
    /* height:2em; */
    /* z-index:-1; */
}
.scroll_to_top{
    color:white;
    width:56px;
    height: 56px;
    background-color: var(--green_primary);
    border-radius: 50%;
    border: none;
    position: absolute;
    right:40px;
    bottom:40px;
    box-shadow: rgba(99, 99, 99, 0.2) 8px 2px 8px 0px;
}
.scroll_to_top>span{
    width:100%;
    height:100%;
    vertical-align: middle;
    position:relative;
    top:14px;
}
.footer_container{
    width:60%;
    margin: auto;
    text-align: center;
    /* position: absolute;
    bottom:0; */
}
.footer_container>div{
    width: 100%;
    margin: 0px 0px 48px 0px;
}
.footer_container>a>img{
    width:30%;
}
.footer_nav{
    padding-bottom: 32px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.footer_nav:before{
    position:absolute;
    bottom: 0px;
    content:"";
    height: 1px;
    width:480px;
    left:50%;
    right:auto;
    transform:translateX(-50%);
    background-color: #ebeff4;
}
.menu-primary{
    display: flex;
    margin-bottom:24px;
    list-style: none;
}
.menu-primary>li{
    margin:0px 20px;
}
.menu-primary>li>a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    color:#333;
}
.menu-primary>li>a:hover{
    color: var(--green_primary);
}
.menu-secondary{
    display:flex;
    list-style: none;
    margin: auto;
    /* border: 1px solid blue; */
}
.menu-secondary>li{
    margin:0px 20px;
}
.menu-secondary>li>a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    color:#6f737a;
}
.menu-secondary>li>a:hover{
    color: var(--green_primary);
}
.social-media{
    padding-top: 32px;
}
.social-media>ul{
    display: flex;
    width:40%;
    margin:auto;
    justify-content: space-evenly;
}
.social-media>ul>li{
    text-decoration: none;
    list-style: none;
}
.social-media>ul>li>div{
    width:48px;
    height:48px;
    box-shadow: rgba(99, 99, 99, 0.2) 8px 2px 8px 0px;
    border-radius: 50px;
    filter:grayscale(100%);
}
.social-media>ul>li>div:hover{
    filter:grayscale(0%);
    position: relative;
    top:5px;
    transition: 0.1s ease-out;
}
.social-media>ul>li>div>a>img{
    height:50%;
    /* width:50%; */
    position: relative;
    top: 25%;
}

.footer_copyright{
    margin-top:40px;
    color:#6f737a;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
}
.footer_disclaimer{
    margin: 32px 125px 24px;
    font-size: 10px;
    font-style: italic;
    color:#6f737a;
}



.main-content{
    position:absolute;
    top:0px;
    width:100vw;
    /* height:10vh; */
}
.hero_section{
    width:100vw;
    padding-top:80px;
    position: relative;
    top:0px;
    min-height: 400px;
    display: block;
    /* background-color: #007aff; */
    /* border: 1px solid red; */
    /* border-bottom-left-radius: 300px; */
}

.overlay{
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}
.hero_section>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}
.hero_container{
    width: 700px;
    z-index: 5;
    /* height: auto; */
    margin: 0px auto 0px auto;
    /* position: relative; */
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
    /* border: 1px solid red; */
}
.hero_content{
    width: 640px;
    z-index: inherit;
    /* height:400px; */
    margin:80px 0 32px 0;
    /* padding-right: 100px; */
    position: relative;
    /* display: block; */
    /* margin-right: 30px; */
}
.hero_content>h1{
    width:300px;
    font-size: 48px;
    font-weight: 1000;
    /* line-height: 72px; */
    color:white;
    margin: 0 0 16px;
}
.hero_content>.text_small{
    width:300px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 18px;
    color:white;
    margin-bottom: 10px;
}
.hero_content>button{
    margin-bottom: 100px;
}


.social_media_section{
    margin:64px 0;
}
.cm_youtube{
    text-align: left;
    margin-bottom: 60px;
}
.youtube_container{
    width:700px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.youtube_container>h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 36px;
    color:#333;
    margin-bottom: 32px;
    position: relative;
    padding-left: 56px;
    text-align: left;
}
.youtube_container>h2::before{
    position: absolute;
    left: 0;
    top: 50%;
    content:"";
    width: 40px;
    height: 30px;
    background: url("https://www.logo.wine/a/logo/YouTube/YouTube-Icon-Full-Color-Logo.wine.svg");
    background-size: cover;
    transform: translateY(-50%);
}
.videos{
    width:700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 32px;
}
.videos>li{
    list-style: none;
    /* height:250px; */
}
.videos>li>a>img{
    width:100%;
    position: relative;
    top:0;
}
.videos>li>a>img::before{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    content:"";
    background: linear-gradient(180deg,transparent 45%, rgba(0,0,0,0.28) 72%,rgba(0,0,0,0.65));
    transition: 0.15s ease-in-out;
}
.videos>li>a>img:hover{
    opacity: 1;
}
.youtube_container>button{
    position: relative;
    padding-left: 40px;
}
.youtube_container>button::before{
    content:"";
    width:8px;
    height:8px;
    position: absolute;
    background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTEgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExIDYuODZ2LjI4YS43Ni43NiAwIDAxLS4zNy42NUwxLjY4IDEzYy0uNTQuMzItLjgyLjMyLTEuMDYuMThsLS4yNS0uMTRhLjc2Ljc2IDAgMDEtLjM3LS42M1YxLjU5QS43Ni43NiAwIDAxLjM3Ljk0TC42Mi44Yy4yNC0uMTQuNTItLjE0IDEuMjIuMjdsOC43OSA1LjE0YS43Ni43NiAwIDAxLjM3LjY1eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    top:12px;
    left:20px;
    /* border: 1px solid red; */
}
.insta_container{
    width:700px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.insta_container>h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 36px;
    color:#333;
    margin-bottom: 32px;
    position: relative;
    padding-left: 56px;
    text-align: left;
}
.insta_container>h2::before{
    position: absolute;
    left: 0;
    top: 50%;
    content:"";
    width: 40px;
    height: 30px;
    background: url("https://www.logo.wine/a/logo/Instagram/Instagram-Glyph-Color-Logo.wine.svg");
    background-size: cover;
    transform: translateY(-50%);
}
.posts{
    width:700px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 32px;
}
.posts>li{
    list-style: none;
    height: 150px;
}
.posts>li>a>img{
    width:100%;
    height: 100%;
    position: relative;
    top:0;
}
.posts>li>a>img::before{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    z-index: 3;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    content:"";
    background: linear-gradient(180deg,transparent 45%, rgba(0,0,0,0.28) 72%,rgba(0,0,0,0.65));
    transition: 0.15s ease-in-out;
}
.posts>li>a>img:hover{
    opacity: 1;
}
.insta_container>button{
    position: relative;
    padding-left: 40px;
}
.insta_container>button::before{
    content:"";
    width:12px;
    height:12px;
    position: absolute;
    background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTggMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDBINWE1IDUgMCAwMC01IDV2OGE1IDUgMCAwMDUgNWg4YTUgNSAwIDAwNS01VjVhNSA1IDAgMDAtNS01em0zLjI1IDEzQTMuMjYgMy4yNiAwIDAxMTMgMTYuMjVINUEzLjI2IDMuMjYgMCAwMTEuNzUgMTNWNUEzLjI2IDMuMjYgMCAwMTUgMS43NWg4QTMuMjYgMy4yNiAwIDAxMTYuMjUgNXY4em0tMS41LTguNzVhMSAxIDAgMTEtMiAwIDEgMSAwIDAxMiAwek05IDQuNUE0LjUgNC41IDAgMTAxMy41IDkgNC40OSA0LjQ5IDAgMDA5IDQuNXptMCA3LjI1YTIuNzUgMi43NSAwIDExMC01LjUgMi43NSAyLjc1IDAgMDEwIDUuNXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    top:10px;
    left:20px;
    /* border: 1px solid red; */
}